.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  font-size: 20px;
  width: 100vw;
  color: white;
  z-index: 100;

  &__headerSticky {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    font-size: 20px;
    width: 100vw;
    color: white;
    background-color: rgb(34, 34, 34);
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
  }

  &__title {
    padding: 12px;
    font-size: 24px;
    font-weight: 600;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    cursor: pointer;
    padding: 12px;

    & + & {
      margin-left: 24px;
    }
  }

  a:nth-last-child(2) {
    margin-right: 24px;
  }

  &__bookButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 32px;
    border-radius: 24px;
    background-color: aquamarine;
  }

  &__bookButtonText {
    color: red;
    font-weight: 500;
  }
}
