.reviews {
  padding: 32px 64px 0 64px;

  &__headingContainer {
    display: flex;
    flex-direction: row;

    padding-bottom: 24px;
    justify-content: space-between;
  }

  &__heading {
    font-size: 24px;
  }
}

.reviewsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (max-width: 640px) {
  .reviews {
    padding: 64px 32px 0 32px;
  }
}

@media only screen and (max-width: 480px) {
  .reviews {
    &__heading {
      font-size: 20px;
    }
  }
}
