.amenities {
  padding: 32px 64px 32px 64px;

  &__heading {
    padding: 24px;
    font-size: 28px;
  }

  &__primaryAmenities {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
  }

  &__highlitedAmenities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 24px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 24px;
  }

  &__roomsContainer {
    padding: 32px 0 32px 0;
  }

  &__roomsContainerHeading {
    font-size: 24px;
  }

  &__displayFirst {
    padding-top: 24px;
  }

  &__displayFirstHeading {
    font-size: 24px;
    padding-bottom: 24px;
  }

  &__displayFirstList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 24px;
  }
}

.amenityCard {
  display: flex;
  align-items: center;
  margin: 6px;
  // padding-left: 16px;

  &__name {
    padding-left: 12px;
    font-weight: 500;
    font-size: 16px;
  }
}

//
