.reviewCard {
  display: flex;
  flex-direction: column;
  width: 276px;
  margin: 0 12px;
  padding: 12px;
  border: 1px;
  border-color: var(--color-secondary);
  border-radius: 24px;
  border-style: solid;

  &__guestName {
    padding-bottom: 6px;
    font-size: 16px;
    color: var(--color-secondary);
  }

  &__date {
    padding-bottom: 12px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(113, 113, 113);
  }

  &__review {
    padding-top: 6px;
    font-size: 12px;
    color: var(--color-secondary);
  }
}
