// calculate a circle's circumference based on radius
@function circumference($r) {
  $pi: 3.141592653;
  @return 2 * $pi * $r;
}

// ---------------------------
// Main Navigation Menu
// ---------------------------

.header {
  display: none;
}
@media only screen and (max-width: 820px) {
  .header {
    position: fixed;
    display: inline-block;
    padding: 24px 32px;
    font-size: 20px;
    width: 100vw;
    height: 101px;
    z-index: 21;

    &__headerSticky {
      padding: 24px 32px;
      font-size: 20px;
      width: 100vw;
      color: white;
      background-color: rgb(34, 34, 34);
      -webkit-transition: background 0.1s linear;
      -moz-transition: background 0.1s linear;
      -ms-transition: background 0.1s linear;
      -o-transition: background 0.1s linear;
      transition: background 0.2s linear;
    }

    &__title {
      color: white;
      padding: 12px;
      font-size: 24px;
      font-weight: 600;
      text-shadow: rgba($color: #000000, $alpha: 0.5) 2px 2px 5px;
    }
  }

  .nav {
    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: var(--screen-height);
      position: relative;
      z-index: 5;
    }

    &__item {
      display: flex;
      justify-content: center;
      color: white;
      opacity: 0;
    }

    &__link {
      // color: white;
      display: block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 1.25rem;
      text-decoration: none;
      padding: 1rem;

      &:hover,
      &:focus {
        outline: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &--removed {
      display: none;
    }

    &--closed {
      .splash::after {
        animation: scaleOut 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.1s;
        animation-fill-mode: forwards;
      }

      .nav {
        &__item {
          animation: fadeOut 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-fill-mode: forwards;
        }
      }
    }

    &--open {
      .splash::after {
        animation: scaleIn 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-fill-mode: forwards;
      }

      .nav {
        &__item {
          animation: fadeIn 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.15s;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  // ---------------------------
  // Circular Splash Background
  // ---------------------------

  .splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      transform-origin: 50% 50%;

      background-color: var(--splash-bg-color);

      // screen diameter can be 142vmax at most,
      // circle needs to be twice that size to cover it
      width: 284vmax;
      height: 284vmax;
      top: -142vmax;
      left: -142vmax;

      // will-change tells the browser we plan to
      // animate this property in the near future
      will-change: transform;
    }
  }
}

@media only screen and (max-width: 350px) {
  .header {
    padding: 18px 18px 18px 14px;
    height: 82px;
  }

  .nav {
    &__toggle {
      right: 14px;
      top: 8px;
    }
  }
}
@media only screen and (max-width: 300px) {
  .header {
    &__title {
      font-size: 20px;
    }
  }
}

@keyframes scaleIn {
  0% {
    background-color: transparent;
    transform: scale(0);
  }

  100% {
    background-color: var(--splash-bg-color);
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    background-color: var(--splash-bg-color);
    transform: scale(1);
  }

  100% {
    background-color: transparent;
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
