.gallery {
  padding: 64px 64px 0 64px;

  &__headingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 18px;
  }

  &__heading {
    font-size: 24px;
  }

  &__seeMoreButton {
    font-size: 18px;
    padding-right: 24px;

    border-width: 0;
    background: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 640px) {
  .gallery {
    padding: 64px 32px 0 32px;
  }
}
