.mapContainer {
  padding: 64px 64px 0 64px;

  &__title {
    font-size: 24px;
    padding-bottom: 18px;
  }

  &__location {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 18px;
  }
}
.map {
  border-radius: 24px;
  height: 450px;
  z-index: 1;
}
