.modal {
  &__body--open {
    overflow: hidden;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 20;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 100px;
    border: 1px solid #ccc;
    width: 700px;
    height: 500px;
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 24px;
    outline: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    z-index: 20;
  }
}

.contactFormContainer {
  &__headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
  }

  &__heading {
    font-size: 26px;
    font-weight: 600;
  }
}

$primary: #11998e;
$secondary: #38ef7d;
$black: black;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 15px;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 20px;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 20px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

@media only screen and (max-width: 710px) {
  .modal {
    &__content {
      top: 55%;
      width: 550px;
      height: 500px;
    }
  }

  .contactFormContainer {
    &__headingContainer {
      padding-bottom: 12px;
    }
    &__heading {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .form__group {
    width: 75%;
  }

  .form__field {
    font-size: 14px;
    &:placeholder-shown ~ .form__label {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .modal {
    &__content {
      top: 55%;
      width: 350px;
      height: 400px;
    }
  }

  .form__group {
    width: 100%;
    padding: 8px 0;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 355px) {
  .modal {
    &__content {
      top: 55%;
      width: 300px;
      height: 400px;
    }
  }

  .contactFormContainer {
    &__headingContainer {
      padding-bottom: 10px;
    }
    &__heading {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .form__group {
    width: 100%;
    padding: 8px 0;
    margin-top: 4px;
  }

  .form__field {
    font-size: 12px;
    &:placeholder-shown ~ .form__label {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 300px) {
  .modal {
    &__content {
      top: 55%;
      width: 270px;
      height: 400px;
    }
  }
}
