.carouselContainer {
  z-index: 10;

  .react-multiple-carousel__arrow--right {
    right: 0px;
    top: 150px;
    &::before {
      transform: translateX(2px);
    }
  }
  .react-multiple-carousel__arrow--left {
    left: 0px;
    top: 150px;

    &::before {
      transform: translateX(-2px);
    }
  }
}
