.carouselContainer {
  .react-multiple-carousel__arrow--right {
    right: 9px;
    top: 184px;
    &::before {
      transform: translateX(2px);
    }
  }
  .react-multiple-carousel__arrow--left {
    left: 9px;
    top: 184px;

    &::before {
      transform: translateX(-2px);
    }
  }
}
