:root {
  --border-radius: 12px;
  --color-secondary: rgb(34, 34, 34);
  --color-showMoreButtonBg: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: white;
  /* box-shadow: var(--shadow);
  color: var(--color-dark); */
  margin: 0 auto;
}
