:root {
  --border-radius: 12px;
  --color-secondary: rgb(34, 34, 34);
  --color-showMoreButtonBg: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: white;
  /* box-shadow: var(--shadow);
  color: var(--color-dark); */
  margin: 0 auto;
}

.main {
  padding-bottom: 64px;
}

.belowHeroContainer {
  display: flex;
  flex-direction: row;
}

.inMainContainer {
  display: flex;
  flex-direction: column;
  width: 73vw;
}

.aside {
  /* width: 25vw; */
  padding: 128px 64px 128px 64px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  border-left: 1px solid;
  margin-bottom: 64px;
}
