.about {
  display: flex;
  flex-direction: column;
  padding: 128px 64px 32px 64px;

  &__section {
    display: flex;

    &:not(:last-of-type) {
      padding-bottom: 48px;
    }
  }

  &__sectionHeading {
    font-size: 20px;
    padding-bottom: 8px;
  }

  &__sectionText {
    font-size: 16px;
    line-height: 1.5;
  }

  &__image {
    width: 400px;
    height: auto;
    border-radius: 32px;
  }

  &__container {
    padding: 24px;

    &--left {
      padding-left: 0px;
    }

    &--right {
      padding-right: 0px;
    }
  }
}
